bin/Debug/net7.0/Starter
bin/Debug/net7.0/Starter.dll
bin/Debug/net7.0/Starter.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Starter.csproj.nuget.dgspec.json
obj/Starter.csproj.nuget.g.props
obj/Debug/net7.0/apphost
obj/Debug/net7.0/Starter.assets.cache
obj/Debug/net7.0/Starter.csproj.AssemblyReference.cache
obj/Debug/net7.0/Starter.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Starter.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Starter.dll
obj/Debug/net7.0/Starter.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Starter.genruntimeconfig.cache
obj/Debug/net7.0/Starter.pdb
obj/Debug/net7.0/ref/Starter.dll
obj/Debug/net7.0/refint/Starter.dll
